.allCountries{
    margin: 25px;
}
.allCountries .image{
    margin-left: 30px;
   grid-column-start: 2; /*posicionamiento en grid*/
   grid-column-end: 3;
}
.allCountries p{
   font-size: 25px;
   grid-column-start: 2; /*posicionamiento en grid*/
   grid-column-end: 3;
}
@media (min-width: 768px) {
    .allCountries {
        margin-top: 6rem;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%; /* que ocupe la tercer parte del 100% de la pantalla xq son 3 espacios, o podemos poner 1fr (de fraccion)o poner repeat(3, 1fr)*/
        column-gap: 1rem; /* separacion entre las columnas*/

    }
}

