.visible1{
 display: block;
 flex-direction: column;
 padding-inline-start: 0px;
    margin-top: 0px ;
    width: 190px; 
    margin-bottom: 0px;
}
.visible1 li{
    display: inline-table;
    list-style:none;
    text-align: left;
    margin: 0px;
    
}

.FilterOptions div{
    padding: 5px;

}

.FilterOptions button{
    border-radius: 8px;
    padding: 7px 7px;
    border-color: rgb(70, 145, 145) ;
    border-style: double;
    cursor: pointer;
    margin-right: 20px;
}
.rmsc{
    --rmsc-gray: black;
    width: 210px;
}
