.Pag{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Pag p{
    margin: 22px 0 0px 0;
}
.Pag button{
    font-family: cursive;
    font-size: 15px;
    border-radius: 8px;
    background-color: rgb(114, 248, 185);
    padding: 4px 4px;
    border-color: rgb(0, 0, 0) ;
    border-style:none;
    cursor: pointer;
    margin: 20px;
}
.not-button{
    color: darkgray;
}
.numPage {
  margin-top: 22px;
}
.numPage a{
    padding: 5px;
    text-decoration:underline;
    cursor: pointer;
}
.numPage a:hover{
    color: rgb(0, 0, 194);
}
.colorNum {
    color: rgb(0, 0, 194);
}