.LandingPag {
  padding: auto;
  background-image: url(../../Img/3d-animated-low-poly-earth-with-clay-look-free-video.gif);
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:100%;
  
}
.LandingPag a{
  margin: 280px 280px;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: auto;
  cursor: pointer; 
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 0 0.3em rgb(252, 252, 252), 0 0 0.3em rgb(255, 255, 255),
    0 0 0.3em rgb(255, 255, 255);
  box-sizing:content-box;

}
.LandingPag h1{
  margin: 280px 280px;

}
.LandingPag a:hover{
  text-shadow: 0 0 0.9em rgb(139, 216, 51), 0 0 0.9em rgb(139, 216, 51),
  0 0 0.9em rgb(139, 216, 51);
    transition: all .5s ease 0s;
}